node_modules

# .NET build outputs
bin/
obj/
*.user
*.suo
*.cache
.vs/
.vscode/
*.nupkg
*.snupkg
*.log/
sources.json
zones.json
config.json
package-lock.json

# Build artifacts and deployment packages
dist/
